/* 62px */

/* 52px */

/* 40px */

/* 29px */

/* 28px */

/* 24px */

.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}

.dropdown-arrow-inverse {
  border-top-color: #34495e !important;
  border-bottom-color: #34495e !important;
}

body {
  background: #ece7cf;
}

.step {
  margin-bottom: 2em;
}

#step-one {
  padding-top: 2em;
}

#step-one #search-bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#step-three {
  padding-top: 2em;
}

#step-three #input-subject,
#step-three #input-msg {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#step-three .form-horizontal .controls {
  margin-left: 120px;
}

#step-three .form-horizontal .control-label {
  width: 100px;
}

#step-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#step-two #results-list {
  height: 100%;
  overflow-y: scroll;
}

#step-two #results-list li:last-child {
  height: 16px;
}

#step-two #continue-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
  padding-top: 1em;
  border-radius: 0;
  box-sizing: border-box;
}

#logo {
  padding-left: .1em;
  font-weight: bold;
}

#search-icon {
  position: absolute;
  margin-top: -2em;
  margin-left: 93%;
}

.btn.btn-primary {
  background: #e74c3c;
}

.btn.btn-primary:hover {
  background: #c0392b;
}

.todo {
  width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.todo li {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.form-row {
  margin-bottom: 1em;
}
