@import "config.less";
@import "mixins.less";

body {
  background: @light-yellow;
}

.login-screen {
  background: none;
}

.btn {
  &.btn-primary {
    background: @alizarin;
    &:hover {
      background: @pomegranate;
    }
  }
}

.todo {
  width: 100%;
  .border-radius(0px);
}
