@import "config.less";

body {
  background: @light-yellow;
}

.login-screen {
  background: none;
}

.btn {
  &.btn-primary {
    background: @alizarin;
    &:hover {
      background: @pomegranate;
    }
  }
}
