@import "config.less";
@import "mixins.less";

body {
  background: @light-yellow;
}

.step {
  margin-bottom: 2em;
}

#step-one {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -116px;
  margin-left: -176px;
  width: 352px;
  height: 132px;
}

#step-three {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -113px;
  margin-left: -300px;
  width: 600px;
  height: 227px;

  #input-subject, #input-msg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .form-horizontal {
    .controls {
      margin-left: 120px;
    }
    .control-label {
      width: 100px;
    }
  }
}

#step-two {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  #results-list {
    overflow-y: scroll;
    height: 100%;
    li:last-child {
      height: 16px;
    }
  }

  #continue-btn {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 52px;
    padding-top: 1em;
    border-radius: 0px;
    box-sizing: border-box;
  }
}
#logo {
  padding-left: .1em;
  //font-family: 'Rochester', cursive;
  font-weight: bold;
}

#search-icon {
  position: absolute;
  margin-top: -2em;
  margin-left: 93%;
}

.btn {
  &.btn-primary {
    background: @alizarin;
    &:hover {
      background: @pomegranate;
    }
  }
}

.todo {
  width: 100%;
  li {
  .border-radius(0px) !important;
  }
  .border-radius(0px);
}

.form-row {
  margin-bottom: 1em;
}
